brotlipy==0.7.0
ConfigParser==6.0.0
cryptography
cryptography
Cython==0.29.24
dl==0.1.0
docutils

gTTS==2.3.2
HTMLParser==0.0.2
importlib_metadata

ipython

keyring

lockfile==0.12.2
lxml
nltk

numpy==1.22.3
ordereddict==1.1
protobuf==3.20.1

pyOpenSSL==23.2.0

pywin32==303
streamlit
tensorflow
toml==0.10.2
tornado==6.1


zipp==3.8.0
